---
layout: master
title: Home
---

<div class='home_box' id='home_left'>
  <h2>
    Latest Posts
  </h2>

	{% for post in site.posts %}
	    <div class="post">
	      <div class="title"><a href="{{ post.url }}">{{ post.title }}</a></div>
	      <div class="date">{{ post.date | date: "%B %d, %Y" }}</div>
	      <div class="extract">{{post.content | strip_html | truncatewords:80}}</div>
	    </div>
	{% endfor %}
</div>
<div class='home_box' id='home_right'>
  <h2>Featured Projects</h2>
  {% include featured.html %}
  <div id='github-projects'>
  </div>
</div>
