<div class='repo'>
  <h3><a href='http://github.com/sproutcore/sproutcore'>SproutCore</a></h3>
  <span class='desc'>SproutCore is a framework for building blazing-fast, desktop-like applications in the web browser using only native HTML5 features.</span>
</div>
<div class='repo'>
  <h3><a href='http://github.com/joachimhs/EurekaJ'>SproutCore</a></h3>
  <span class='desc'>EurekaJ is an Open Source, Standards based profiler tool for Java applications.</span>
</div>
<div class='repo'>
  <h3><a href='http://kenai.com/projects/btrace'>BTrace</a></h3>
  <span class='desc'>BTrace is a safe, dynamic tracing tool for the Java platform.</span>
</div>